body{
    font-family: Verdana; 
    background-color: black;
    text-align: center; 
}

h1{
    font-weight: normal;
    font-size: 50px;
    Color: white;
}

h2{
    color: white;
    font-weight: 300;
    font-size: 42px;
}

a{
    color: aquamarine;
    font-size: 16px;
    font-weight: bold;
}

p{
    font-size: 21px;
    color: gray;
    
}

h3{
    text-align: right;
    color: gray;
    font-size: 23px;
}

.link{
    margin-bottom:35px;
}

img{
    display: block;
    margin: 20px auto;
}